
.content {
    width: 100%;
    height: 100%;
    /* width: calc(100% - 300px); */
    background: var(--content-background);
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.content-background {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 300px;
    height: 300px;
    filter: blur(120px);
    background: #7F03BB;
    z-index: 2;
}

.content-background2 {
    position: absolute;
    bottom: -20px;
    right: -100px;
    width: 700px;
    height: 700px;
    filter: blur(120px);
    background: #7F03BB;
    z-index: 0;
}

.content-container {
    width: 1200px;
    position: relative;
    z-index: 100;
}

.content-img {
    width: 100%;
    height: 300px;
    background: url(images/0.jpg);
    border-radius: 15px;
    background-position-x: -20%;
    background-position-y: 15%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    filter: brightness(1.2);
    transition: all 0.3s ease;
}

.content-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-90deg, transparent, rgb(143, 14, 186) 55%);
}

.content-img-logo {
    width: 550px;
    height: 100%;
    font-family: 'Work Sans';
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: 15px;
}

.content-img-logo h1 {
    font-size: 55px;
    font-weight: 600;
    color: white;
    letter-spacing: -2px;
    width: 100%;
    margin-bottom: 5px;
    transition: all 0.3s ease;
}

.content-img-logo p {
    font-size: 12px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.3s ease;
}

.content-img-btn {
    display: flex;
    width: 100%;
    gap: 15px;
    align-items: center;
    margin-top: 30px;
}

.content-img-btn a {
    text-align: center;
    width: 40%;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 10px 30px;
    background: var(--side-background);
    border: 2px solid var(--side-background);
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.content-img-btn a:nth-child(2) {
    background: transparent;
    border: 2px solid var(--side-background);
}

.content-img-btn a:nth-child(2):hover {
    background: var(--side-background);
}

.content-img-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.content-img-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 25%;
}

.content-img-video.active {
    visibility: visible;
    opacity: 1;
}

.content-img-video span {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 120;
    font-family: 'Work Sans';
    cursor: pointer;
}


.content .content-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding: 15px 30px;
    border-radius: 15px;
    margin-bottom: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateY(-10%);
    transition: all 0.3s ease;
}

.content .content-top.active {
    transform: translateY(-150%);
}

.content .content-top .search {
    background: rgba(0, 0, 0, 0.2);
    margin-right: auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.content .content-top .search i {
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.content .content-top .search input {
    font-size: 15px;
    padding: 5px;
    border: none;
    outline: none;
    background: none;
    color: rgba(255, 255, 255, 0.7);
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}


.content .content-top .darkmode {
    height: 100%;
    display: flex;
    align-items: center;
}

.content .content-top .darkmode i {
    color: rgba(255, 255, 255, 0.2);
    font-size: 35px;
    cursor: pointer;
}

.content .content-top .profile {
    align-items: center;
    display: flex;
    height: 100%;
}

.content .content-top .profile img {
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.content-main {
    width: 100%;
    height: 100%;
}

.content-main .content-slide {
    width: 100%;
    background: url(/images/0.jpg);
    height: 350px;
    background-size: cover;
    position: relative;
    z-index: 100;
    background-position-y: 15%;
    filter: brightness(1.2);
}

.content-main .content-slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--content-background) 10%, transparent);
    opacity:0.5;
}

.albums {
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1s ease;
}

.content-albums {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 101;
    list-style: none;
    margin-top: 15px;
}


.albums-container {
    width: 100%;
    background: rgba(0,0,0,0.15);
    border-radius: 15px;
    overflow: hidden;
    padding: 15px;
    margin-top: 15px;
}

.content-albums-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content-albums-logo h1{
    font-size: 20px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    transition: all 0.3s ease;
}

.content-albums-sort {
    display: flex;
    align-items: center;
    color: rgba(255,255,255,0.5);
    gap: 10px;
    flex: 2px;
    font-size: 10px;
    margin-top: 5px;
}

.content-albums-sort i {
    cursor: pointer;
}

.content-albums-menu {
    display: flex;
    align-items: center;
    gap: 5px;
}

.content-albums-menu i{
    color: rgba(255, 255, 255, 0.3);
    font-size: 20px;
    cursor: pointer;
}

.content-albums li {
    width: 150px;
    cursor: pointer;
    position: relative;
    margin: 0px 8px;
}

.content-albums li img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 15px;
}


.recommand-singer {
    width: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    border-radius: 15px;
    flex-wrap: wrap;
    padding: 15px;
}

.recommand-singerlist {
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 15px;
    gap: 5px;
    justify-content: space-between;
}

.recommand-singer li {
    width: 100px;
    cursor: pointer;
    position: relative;
}

.recommand-singer li img {
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
}


.recommand-singer i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.4);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}

.recommand-singer li:hover .img-background {
    opacity: 1;
    visibility: visible;
}

.recommand-singer li:hover i {
    opacity: 1;
    visibility: visible;
}

.img-background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0;
    visibility: visible;
    transition: all 0.3s ease;
}

.recommand-singer-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.recommand-singer-title h1{
    font-size: 20px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    transition: all 0.3s ease;
}

@media screen and (width < 1250px) {
    .content {
        display: flex;
        width: 100%;
    }
    .content-container { 
        width: 100%;
    }
    .recommand-singer-title h1{
        font-size: 13px;
    }
    .content-albums-logo h1{
        font-size: 13px;
    }
}


@media screen and (width < 1100px) {
    .content-img {
        background-size: cover;
    }
}

@media screen and (width < 600px) {
    .content-img {
        background-size: cover;
        background-position-x: 70%;
        background-position-y: 15%;
    }
    .content-img-logo h1{
        font-size: 32px;
    }
    .content-img-logo p{
        font-size: 9px;
    }
    .content-img-logo {
        width: 100%;
    }
    .content-img-logo a {
        font-size: 10px;
    }
}

.singer-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    height: calc(100% - 4%);
    z-index: 100;
    display: none;
}

.singer {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.2);
    position: relative;
    background: url(artist/1.jpg);
    background-position: center;
    background-size: 20%;
}

.singer img {
    height: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    left: 90px;
    border: 4px solid white;
}


.singer-text {
    width: 500px;
}

.singer-text h1 {
    font-size: 25px;
    color: white;
    animation: slide 0.6s ease forwards;
}

.singer-text p {
    color: white;
    animation: slide 1.2s ease forwards;
}


@keyframes slide {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

.singer-text-contanier:first-child{
    position: absolute;
    bottom: 0;
    left: 200px;
    overflow: hidden;
    background: #242424;
    padding: 0 10px;
}


.singer-text-contanier:nth-child(2) {
    overflow: hidden;
    position: absolute;
    bottom: -30px;
    left: 205px;
}

.singer-top-songs {
    margin-top: 60px;
    height: 350px;
}

.singer-top-songs h1 {
    color: white;
    font-weight: 500;
    font-size: 20px;
}

.top-songs {
    margin-top: 10px;
    width: 100%;
}

.top-songs li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 30px;
    margin: 10px 0px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.top-songs li:hover {
    background: rgba(255, 255, 255, 0.1);
}

.top-songs li:hover i {
    color: rgba(255,255,255,0.3);
    display: block;
}

.top-songs  li img {
    height: 30px;
    aspect-ratio: 1/1;
    border-radius: 5px;
}

.top-songs li i {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.2);
    margin-left: auto;
    display: none;
}

.top-songs h1 {
    color: white;
    margin-left: 30px;
    font-size: 12px;
}

.top-songs span {
    font-size: 12px;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.7);
}

@media screen and (width < 450px) {
    .content-img {
        background-position-x: 70%;
        background-position-y: 15%;
    }
}