@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=Gowun+Batang:wght@400;700&family=Kanit:ital,wght@0,600;0,700;0,800;0,900;1,900&family=Pacifico&family=Poppins:wght@100;300;400;500;600;700;800;900&family=Work+Sans:wght@400;600;700&display=swap');

/* Archivo Black
Pacifico
Poppins
Work Sans
Abril Fatface */

:root {
    --player-background: #7F03BB;
    --content-background: #470069;
    --side-background: #2f0c41;

    --text-main: rgb(255, 255, 62);
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

audio {
    position: absolute;
    left: 15%;
    top: 10px;
    z-index: 99999;
    display: none;
}

.container {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

body {
    background: red;
    font-family: 'Poppins';
}